*{
		font-family:Arial;
}

#tablaClientes th{
    background-color: #2454cc;
    color:white;
}
#tablaClientes tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

#tablaCuentas th{
    background-color: #2454cc;
    color:white;
}
#tablaCuentas tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

#tablaAltaCuenta th{
    background-color: #2454cc;
    color:white;
}
#tablaAltaCuenta tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

#tablaUsuarios th{
    background-color: #2454cc;
    color:white;
}
#tablaUsuarios tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

#tablaPrestamos th{
    background-color: #2454cc;
    color:white;
}
#tablaPrestamos tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

#tablaReportes th{
    background-color: #2454cc;
    color:white;
}
#tablaReportes tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

#tablaMovimientos th{
    background-color: #2454cc;
    color:white;
}
#tablaMovimientos tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    
}

#titulo{
	width:100%;
	text-align:center;
	position:Absolute;
	top:10%;
}

.titulo{
	font-size:50px !important;
	font-weight:bold !important;
	color:black !important;
		font-family:Arial !important;
}

.btntabla{
text-align: center;
	font-family:Arial;

}

input[type="text"], select, input[type="password"], input[type="date"], input[type="number"]{
	border: none;
	border-bottom: 2px solid black;
		font-family:Arial;
}

.boton{
	padding:5px 100px 5px 100px;
	cursor:pointer;
	border:none;
	background-color:black;
	color:white;
	font-family:Arial;
}

.boton:hover{
	background-color:#111;
	-webkit-text-stroke: 2px white;
	color:black;
	border:1px solid black;
	font-family:Arial
}

table  {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 20%;
	font-family:Arial;
	align-items:center;
	margin:auto;
}
  td ,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family:Arial;
}
tr:nth-child(even) { 
  background-color: #dddddd;
  font-family:Arial;
}

.padre {
	justify-content: center;
	display: flex;
	align-items: center;
	text-align:center;
}

.hijo{
	width:100%;
	padding:7% 0 0 0;
	justify-content: center;
}
