

@keyframes Aparicion{
	0%{opacity:0}
	25%{opacity:0.25}
	50%{opacity:0.5}
	75{opacity:0.75}
	100{opacity:1}
}

label{
	color: white;
	-webkit-text-stroke: 2px black;
	animation-name: Aparicion;
	font-size:50px;
	font-family:Arial;
	/*background-color:#e0dcdc;
	padding:10px;
	border: 4px solid black;*/
}

#lbl1{
	animation-duration:2s;
}

#lbl2{
	animation-duration:6s;
}

#div1{
	margin-top:10px;
	margin-left:20px;
	position:absolute;
}

#div2{
	position:absolute;
    bottom:0;
    right:0;
    margin-bottom:70px;
    margin-right:20px;
}